$color: #eee;
$mobile-width: 320px;
$tablet-width: 640px;
$bigger-tablet-width: 768px;
$desktop-width: 1200px;
$main-blue: #216cff;
$second-perpule: #f447af;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$green: #27ae60;
$red: #eb5757;
$hover-color: #fafbfc;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
